.loader {
  margin: 5rem auto;
  text-align: center;
}
.loader i {
  font-size: 7rem;
  color: #f59a83;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}